@import "theme";

.auction-list-box {
  margin: 0.5rem;

  .auction-image-box {
    text-align: -webkit-center;

    .auction-image-wrap {
      position: relative;
      height: 100%;
      display: flex;
      align-items: center;
      max-width: 300px;

      .auction-image {
        position: relative;
        width: 100%;
        padding: 0 !important;
        padding-top: 75% !important;
        border-radius: 4px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        transition: all .4s ease;
      }

      .auction-image-opacity {
        position: absolute;
        margin-top: -75%;
        height: 100%;
        width: 100%;
        background-color: rgba(255,255,255,0.3);
      }

      .gavel-image {
        position: absolute;
        width: 100%;
        height: 100%;
        margin-top: -75%;
        border-radius: 4px;
        background-position: center;
        background-size: 80px;
        background-repeat: no-repeat;
      }
    }
  }



  @media (max-width: 599px) {
    .detail-btn-w {
      padding-top: 0.5rem !important;
    }
  }

  .detail-btn-w {
    height: 100%;
    padding-top: 1rem;

    button {
      width: 100% !important;
      max-width: 140px;
      border-radius: 5px;
    }
  }

  .catagory-header-wrap {
    background: $accent;
    width: 200px;
    padding: 4px 16px;
    text-align: center;
    border-radius: 6px 30px 0px 0px;
    box-shadow: 0px 4px 8px 0px #EC265840;
    color: white;
  }

  @media (max-width: 599px) {
    .catagory-content-wrap {
      padding: 0.5rem !important;
    }
  }

  .catagory-content-wrap {
    border-radius: 0px 5px 5px 5px;
    box-shadow: 0px 4px 8px 0px #EC265840;
    transition: all ease 0.25S;
    padding: 1rem;

    @media (max-width: 599px) {
      .auction-description-block {
        padding-left: 0rem !important;
        padding-top: 0.5rem !important;
      }
    }

    .auction-description-block {
      padding-left: 1rem;

      .auction-description-wrap {
        display: flex;
        align-items: center;

        div:first-child {
          width: 110px;
          font-size: 14px;
        }

        div:last-child, a {
          font-size: 12px;
          color: $primary;
        }

        a:hover {
          cursor: pointer;
        }
      }
    }
  }

}

.auction-list-box:hover,
.selected-auction {

  .catagory-header-wrap {
    box-shadow: 0px 4px 8px 0px #EC265880;
  }

  .catagory-content-wrap {
    box-shadow: 0px 4px 8px 0px #EC265880;
  }

}
