<div *ngIf="auction" class="auction-list-box" fxLayout="column" fxLayoutAlign="start none">
  <div class="catagory-header-wrap">BidBlab Price:&nbsp;{{auction.bidblabPrice | currency:'USD':'symbol':'1.2-2'}}</div>

  <div class="catagory-content-wrap" [ngClass]="{'selected-auction': bidService.detailAuction?.index == auction.index}">
    <div class="row no-gutters">
      <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 col-xl-5 auction-image-wrap">
        <div class="auction-image" [ngClass]="{'closed-auction': auction.role == bidService.auctionRole.closed}"
          [style.background-image]="auction?.auctionPicture?.length?
            'url(' + serverUrl +'/' + auction.auctionPicture[0] + ')' : 'url(assets/imgs/empty-image.png)'">
        </div>
        <!-- <img class="auction-image" [ngClass]="{'closed-auction': auction.role == 'closed'}" 
            [src]="auction?.auctionPicture?.length?
            serverUrl +'/' + auction.auctionPicture[0] : 'assets/imgs/empty-image.png'" alt=""> -->
        <div *ngIf="auction.role == bidService.auctionRole.closed" class="gavel-image"
          [style.background-image]="'url(assets/imgs/gavel-red.png)'">
        </div>
      </div>
      <div class="col-xs-5 col-sm-5 col-md-7 col-lg-7 col-xl-7 auction-description-block main-color">
        <div class="production-name-wrap">
          <div>{{auction.auctionTitle}}</div>
        </div>
        <div class="auction-description-wrap">
          <div>BidBlab Price:</div>
          <div>{{auction.bidblabPrice| currency:'USD':'symbol':'1.2-2'}}</div>
        </div>
        <div class="auction-description-wrap">
          <div>Retail Price:</div>
          <div>{{auction.retailPrice | currency:'USD':'symbol':'1.2-2'}}</div>
        </div>
        <div class="auction-description-wrap">
          <div>Max Bid:</div>
          <div>{{auction.bidblabPrice | currency:'USD':'symbol':'1.2-2'}}</div>
        </div>
        <div class="auction-description-wrap">
          <div>Bid Fee:</div>
          <div>{{auction.bidFee}}&nbsp;Credits</div>
        </div>
        <div class="auction-description-wrap">
          <div>Auction Closes:</div>
          <div>{{auction.closes| date:"dd MMMM, yyyy hh:mm:ss a" }}</div>
        </div>
        <div class="auction-description-wrap">
          <div>Auction Id:</div>
          <div>#{{("0000000" + auction.auctionSerial).slice(-7)}}</div>
        </div>
        <div class="auction-description-wrap">
          <div>{{auction.role == bidService.auctionRole.closed? 'Winner:': 'High Bidder:'}}</div>
          <div *ngIf="auction.maxUniqueBid else noHighBidder" routerLink="/user/{{auction.maxUniqueBid._id}}">
            {{auction.maxUniqueBid.firstName | titlecase}}.&nbsp;{{auction.maxUniqueBid.lastName.slice(0, 1) | titlecase}}
          </div>
          <ng-template #noHighBidder>
            <div>{{auction.role == bidService.auctionRole.closed? 'No Winner': 'No High Bidder'}}</div>
          </ng-template>
        </div>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <div class="detail-btn-w" fxLayout="row" fxLayoutAlign="center end">
          <button *ngIf="bidService?.detailAuction?.index != auction.index" (click)="displayDetail()" mat-raised-button
            color="accent">
            Details
          </button>
          <button *ngIf="bidService?.detailAuction?.index == auction.index" (click)="lessDetail()" mat-raised-button
            color="accent">
            Less Details
          </button>
        </div>
      </div>
    </div>
  </div>
</div>