@import "variables";
@import "./theme.scss";

html,
body {
  height: 100%;
  margin: 0;
}

* {
  font-family: $general-font-family;
}

body {
  font-size: 16px;
  line-height: 24px;
  overflow-x: hidden;
}
@media (max-width: 599px) {
  body {
    font-size: 14px;
  }
}


a {
  outline: none;
  text-decoration: none;
}

.h-100 {
  height: 100% !important;
}

.w-100 {
  width: 100% !important;
}

.h-100p {
  height: 100px;
}

.h-300p {
  height: 300px;
}

.flex-p {
  padding: $flex-distance !important;
}

.flex-p-x {
  padding: 0 $flex-distance !important;
}

.p-0 {
  padding: 0 !important;
}

.p-1 {
  padding: 16px !important;
}

.py-1 {
  padding: 1rem 0 !important;
}

.pt-1 {
  padding-top: 1rem !important;
}

.pl-1 {
  padding-left: 1rem !important;
}

.pl-05 {
  padding-left: 0.5rem !important;
}

.pr-05 {
  padding-right: 0.5rem !important;
}

.m-0 {
  margin: 0 !important;
}

.m-05 {
  margin: 8px;
}

.m-1 {
  margin: 4px !important;
}

.mb-1 {
  margin-bottom: 16px !important;
}

.mb-3 {
  margin-bottom: 48px !important;
}

.mb-05 {
  margin-bottom: 8px !important;
}

.mr-1 {
  margin-right: 16px !important;
}
.mt-1 {
  margin-top: 4px !important;
}

.mx-1 {
  margin: 0 4px !important;
}

.text-center {
  text-align: center;
}

.c-p {
  color: $primary;
}

.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.transition-2 {
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  transition: 0.2s;
}

.rounded {
  border-radius: 50%;
}

.divider {
  width: 100%;
  height: 1px;
  background: #ccc;
}

.toolbar-dropdown-menu {
  margin-top: 9px;
  border-radius: 0 !important;

  .mat-menu-content {
    padding: 0 !important;
  }
}

.icon-sm,
.mat-icon.icon-sm {
  font-size: 18px;
  line-height: 18px;
  height: 18px;
  width: 18px;
  vertical-align: middle;
}

.mat-icon.icon-lg {
  font-size: 48px;
  width: 48px;
  height: 48px;
}

.white {
  color: #fff;
}

.mat-card-header-text {
  margin: 0 8px !important;
}

.draggable {
  cursor: move;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

.logo {
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 1px;
  padding: 0 8px;
  color: #fff;
}

.mat-raised-button.small-logo {
  font-size: 24px;
  font-weight: bold;
  min-width: 36px;
  padding: 0;
  background-color: #fff !important;
}


//mailbox
.mail-body {
  p {
    margin-bottom: 1rem;
  }

  ul {
    margin: 0 16px;
  }

  .ql-container.ql-snow {
    min-height: 120px;
    margin-bottom: 10px;
  }
}

//material components
.mat-card {
  overflow: hidden;

  &.custom-card {
    .mat-card-header {
      margin: -16px -16px 0;

      .mat-card-title {
        font-size: 14px;
      }
    }

    .mat-card-actions {
      padding-left: 6px;
      padding-right: 6px;
    }
  }
}

.mat-list .mat-list-item,
.mat-nav-list .mat-list-item,
.mat-selection-list .mat-list-item,
.mat-menu-item {
  font-size: 14px !important;
}

.mat-drawer-container {
  height: 100%;
}

.mat-paginator-page-size-select {
  width: 60px !important;
}

.vertical-tabs.mat-tab-group {
  flex-direction: row;

  .mat-tab-labels {
    flex-direction: column;
  }

  .mat-ink-bar {
    display: none;
  }

  .mat-tab-header {
    border: none !important
  }

  .mat-tab-body-wrapper {
    padding: 0 16px;
  }
}

.sidenav .mat-drawer-inner-container {
  overflow: hidden;
}

.fill-remaining-space {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.mat-dialog-container {
  max-height: 100vh !important;
}

.opecity {
  opacity: 0.3;
}

.hidden {
  visibility: hidden;
}

.bg-primary {
  background-color: $primary;
}

.bg-white {
  background-color: #FFF;
}

mat-card.no-content {
  padding-bottom: unset !important;
}

@media (max-width: 599px) {
  .main-pt {
    padding-top: 0.5rem !important;
  }
}

.main-pt {
  padding-top: 1rem;
}


.mute-text {
  color: #747373 !important;
}

.title-color {
  color: #404041 !important;
}

.active-link {
  border-radius: 0;
  background-color: #ccc;
  color: #fff;
}

.strong {
  font-size: 26px;
}

.pointer {
  &:hover {
    cursor: pointer;
  }
}

.border-none {
  border: unset !important;
}

.mat-raised-button {
  border-radius: 2px !important;
}

.main-box-shadow {
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 4px 8px 0 rgba(64, 64, 65, 0.2);
  transition: all ease 0.25s;

  &:hover {
    box-shadow: 0 4px 8px 0 rgba(64, 64, 65, 0.4);
  }
}

p {
  margin: 0px;
}

h4 {
  margin: 0px;
  font-size: 18px;
  font-weight: 600;
}
h3 {
  margin: 10px 0px;
  font-size: 19px;
  font-weight: 600;
}
h2 {
  margin: 16px 0px;
  font-size: 20px;
  font-weight: 700;
}

@media (max-width: 599px) {
  h2 {
    font-size: 16px;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: $special-font-family;
}

.accent {
  color: $accent;
}

.primary {
  color: $primary;
}
