.sq-field-wrapper {
  display: flex;
  flex-flow: row nowrap;
  margin-bottom: 16px;
}

.sq-field {
  margin-bottom: 16px;
  width: 100%;
}

.sq-field:first-child {
  margin-left: 0;
}

.sq-field:last-child {
  margin-right: 0;
}

.sq-field--in-wrapper {
  flex-grow: 1;
  margin: 0 8px;
}

.sq-label {
  margin-bottom: 8px;
  text-transform: uppercase;
}

.sq-input {
  background-color: #fff;
  border-style: solid;
  border-width: 1px;
  overflow: hidden;
  transition: border-color 0.25s ease;
  width: 100%;
}

.sq-input--focus {
  background-color: #fbfdff;
}

.sq-input--error {
  background-color: #fbfdff;
}

.sq-button {
  color: #fff;
  padding: 16px;
  width: 100%;
  height: 52px;
}

.sq-button:active {
  color: #fff;
}

.sq-payment-form {
  max-width: 100%;
  padding: 20px 20px 5px;
  width: 380px;
}

.sq-label {
  color: #000000;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.5px;
}

.sq-input {
  border-color: #E0E2E3;
  border-radius: 4px;
}

.sq-input--focus {
  border-color: #4A90E2;
}

.sq-input--error {
  border-color: #e02e2f;
}

.sq-wallet-divider {
  margin: 24px 0;
  position: relative;
  text-align: center;
  width: 100%;
}

.sq-wallet-divider:after,
.sq-wallet-divider::after,
.sq-wallet-divider:before,
.sq-wallet-divider::before {
  background: #bbb;
  content: '';
  display: block;
  height: 1px;
  left: 0;
  position: absolute;
  right: 0;
  top: 9px;
}

.sq-wallet-divider:after,
.sq-wallet-divider::after {
  right: 65%;
}

.sq-wallet-divider:before,
.sq-wallet-divider::before {
  left: 65%;
}

.sq-wallet-divider__text {
  color: #bbb;
  padding: 10px;
  text-transform: uppercase;
}

.inline-error {
  width: 100%;
  font-size: 75%;
  color: #f44336;
  font-weight: 400;
  line-height: 1.125;
}
