$font-family: 'Roboto', sans-serif;

$toolbar-desktop-height: 64px; 
$toolbar-mobile-height: 56px; 
$footer-desktop-height: 74px; 
$footer-mobile-height: 136px; 
$main-tab-height: 49px;

$sidenav-width: 250px;
$sidenav-user-block-height: 156px;
$mini-sidenav-user-block-height: 70px;

$flex-distance: 8px;
$inner-sidenav-content-padding: $flex-distance;

//Login, Register, Errors box
$box-height: 186px;
$box-position: 34px;
$register-box-height: 300px;