@import "../../../assets/scss/variables";

.search-label-w {
  text-align: center;
}

.ask-btn-w {
  height: 100%;

  button {
    width: 100% !important;
  }
}

@media (max-width: 599px) {
  .infiniteScroll-area {
    height: calc(100vh - (#{$toolbar-mobile-height}*2 + #{$footer-mobile-height} + 32px)) !important;
  }
}

.infiniteScroll-area {
  height: calc(100vh - (#{$toolbar-desktop-height}*2 + #{$main-tab-height} + #{$footer-desktop-height} + 48px));
  overflow-y: scroll;
}
