<form [formGroup]="form" (ngSubmit)="submitForm()" autocomplete="off" novalidate>
  <div fxLayout="column" fxLayoutAlign="start stretch">
    <div class="report-select-wrap margin-bottom-1rem">
      Select report type
    </div>
    <div *ngIf="reports" class="margin-bottom-1rem">
      <mat-radio-group formControlName="reportType">
        <mat-radio-button class="margin-right-1rem" *ngFor="let report of reports" [value]="report">{{report}}
        </mat-radio-button>
      </mat-radio-group>
    </div>

    <mat-form-field appearance="outline">
      <mat-label>Note</mat-label>
      <textarea rows="2" type="text" matInput formControlName="reportNote"></textarea>
      <mat-hint align="end">{{form.get('reportNote').value.length}} / 50</mat-hint>
      <mat-error *ngIf="checkError(form, 'reportNote', 'maxlength')">
        Note has a maximum length of 50 characters.
      </mat-error>
    </mat-form-field>
    <div fxLayout="row">
      <div class="margin-right-1rem">
        <button mat-raised-button mat-dialog-close tabindex="-1">
          Cancel
        </button>
      </div>
      <div class="">
        <button class="" mat-raised-button color="accent" [disabled]="form.invalid || submitted" type="submit">
          Submit
        </button>
      </div>
    </div>
  </div>
</form>