@import "theme";

.profile-wrap {
  padding: 1rem;

  .avatar {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-right: 0;
  }
}

.introduction-wrap {
  padding: 1rem;
}

.button-wrap {
  button {
    margin-left: 1rem;
  }
}

.question-page-wrap {
	.block-title {
		.small {
			font-size: 12px;
			text-transform: uppercase;
		}
		.large {
			font-size: 20px;
			span {
				font-size: 26px;
				line-height: 0px;
				font-weight: 600;
				font-family: "Poppins";
			}
		}
  }

  .question-block-wrap {
    margin: 0 -0.5rem;

    .question-box {
      margin: 0.5rem;
    }
  }

}

.card-grid-wrap {
  margin: 0.5rem;

  .card-image-wrap {
    overflow: hidden;

    img {
      vertical-align: middle;
      width: 100%;
      max-width: 100%;
      height: auto;
      border-style: none;
      border-radius: 4px 4px 0px 0px;
    }
  }

  .card-title {
    margin-top: 1rem;
    height: 32px;
    overflow: hidden;
    text-align: center !important;
  }

  .card-body {
    padding: 1rem;

    .card-body-content {
      display: flex;
      min-height: 77px;
      overflow: hidden;
    }

    .question-category.mat-standard-chip {
      font-size: 12px;
      opacity: 0.9;
    }


  }

}

.card-list-wrap {
  margin: 0.5rem;
  padding: 1rem;

  .card-image-wrap {
    height: 200px;
    width: 100%;
    border-radius: 4px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 1;


    img {
      vertical-align: middle;
      width: 100%;
      max-width: 100%;
      height: auto;
      border-style: none;
    }
  }

  .card-title {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    font-weight: 500;
    text-align: center !important;
  }

  .card-body {
    margin-bottom: 1rem;
    padding-left: 1rem;
    overflow: hidden;

    .card-body-content {
      display: flex;
      overflow: hidden;
    }

    .answer-text {
      min-height: 52px;
    }

    .question-category.mat-standard-chip {
      font-size: 12px;
      opacity: 0.9;
    }

  }
  
}
