.card-box-wrap {
  margin: 0.5rem;

  .card-image-wrap {
    height: 160px;
    overflow: hidden;

    img {
      vertical-align: middle;
      width: 100%;
      max-width: 100%;
      height: auto;
      border-style: none;
    }
  }

  .card-up-bg {
    background-color: #F96ABD;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
  }

  .card-avatar-wrap {
    margin-left: auto !important;
    margin-right: auto !important;
    background-color: #fff !important;
    display: block;
    margin-top: -60px;
    overflow: hidden;
    width: 120px;
    border-radius: 50%;

    img {
      border: 5px solid #fff;
      border-radius: 50% !important;
      background: none repeat scroll 0 0 #fff;
      width: 100%;
      vertical-align: middle;
    }
  }

  .card-body {
    padding: 1rem;
    padding-top: 0.5rem;
    text-align: center !important;
    
    .card-body-content {
      height: 24px;
      overflow: hidden;
    }

    .question-category.mat-standard-chip {
      opacity: 0.9;
    }

    .card-action-wrap {
      button {
        width: 100%; 
        margin: 0.5rem 0.5rem;
      }
    }
  }
}
