.alert_dialog_wrap {
  width: 100%;

  .alert_dialog_title {
    font: 20px sans-serif;
    text-align: center;
    margin: 1rem;
  }

  .alert_dialog_comment {
    font: 16px sans-serif;
    text-align: center;
    margin-bottom: 0rem;
  }

  .alert_dialog_button_wrap {
    button {
      width: 120px;
      margin: 1rem;
    }
  }
}