@import "../../../assets/scss/variables";

.mail-list-block {
  * {
    margin: 0;
    padding: 0;
  }
}

.mailbox {
  .search {
    margin: 0 14px;
    width: 100%;
    border: none;
    border-radius: 2px;
    padding: 6px;
    outline: none;
  }

  .mail-body {
    padding: 16px;
  }

  .empty {
    mat-icon {
      font-size: 220px;
      height: 220px;
      width: 220px;
      opacity: 0.4;
    }

    p {
      font-size: 18px;
      opacity: 0.8;
    }
  }
}

.mailbox-sidenav {
  width: 350px;
  border-right: 1px solid transparent;
  overflow: hidden;

  .mat-list-item {
    height: 64px !important;
  }
}

@media (max-width: 599px) {

  .mailbox-content,
  .mailbox-sidenav-list {
    height: calc(100vh - (#{$toolbar-mobile-height}*2 + #{$footer-mobile-height} + 32px)) !important;
  }
}

@media (max-width: 599px) {
  .mailbox-sidenav-list {
    height: calc(100vh - (#{$toolbar-mobile-height}*2 + #{$footer-mobile-height} + 32px)) !important;
  }
}

.mailbox-content {
  height: calc(100vh - (#{$toolbar-desktop-height}*2 + #{$main-tab-height} + #{$footer-desktop-height} + 48px));

  .mat-line {
    white-space: unset;
  }

  .subject {
    font-weight: 500;
  }
}

.mailbox-sidenav-list {
  height: calc(100vh - (#{$toolbar-desktop-height}*2 + #{$main-tab-height} + #{$footer-desktop-height} + 48px));

  .sender {
    font-weight: 400;
  }

  .subject {
    font-size: 13px;
  }

  .unread .mat-line,
  .unread .sender {
    font-weight: bold;
  }

  .selected {
    background: rgba(0, 0, 0, .15);
  }
}

@media (max-width: 599px) {
  .mailbox-sidenav {
    width: 280px;
  }
}

.select-mail {
  padding-left: 16px !important;
}

.select-all-mail {
  padding: 1rem;
}

mat-divider {
  position: relative !important;
}