<div *ngIf="visibleState" class="question-block main-box-shadow">
  <!-- <div *ngIf="visibleState" [@flyInOut] class="question-block"> -->
  <div class="row no-gutters">
    <div class="col-sm-12 col-md-5 col-lg-4 col-xl-4">
      <app-question-image [question]="question" [detailLinkFlag]="true"></app-question-image>
    </div>
    <div class="col-sm-12 col-md-7 col-lg-8 col-xl-8" fxLayout="column" fxLayoutAlign="space-between space-between">
      <div fxFlex class="question-answer" fxLayout="column" fxLayoutAlign="space-between space-between">
        <div fxLayout="row">
          <div class="avatar-image">
            <div class="avatar" [style.background-image]="question?.asker?.profilePicture?.path?
                'url(' + serverUrl +'/' + question.asker.profilePicture.path + ')' : 'url(assets/imgs/user.svg)'">
              <button mat-icon-button color="primary" class="no-hover-effect"
                matTooltip="Go to user detail page" matTooltipClass="example-tooltip-color"
                routerLink="/user/{{question.asker?._id}}">
              </button>
            </div>
          </div>
          <div class="text-block-wrap pointer h-100" fxFlex fxLayout="row" 
            routerLink="/questions/question-detail/{{question._id}}"
            matTooltip="Go to question detail page" matTooltipClass="example-tooltip-color">
            <div>
              <span class="accent">Q:&nbsp;</span>
            </div>
            <div class="text-wrapper mute-text">
              {{question.title}}
            </div>
          </div>
        </div>
        <div class="answer-button-wrap">
          <button *ngIf="question.answers.length" mat-raised-button color="accent" (click)="openAnswerDialog(question)">
            ANSWER&nbsp;
            (
            {{ question.answerCredit? question.answerCredit : 
                  (defaultCredits?.defaultPublicAnswerCredit? defaultCredits.defaultPublicAnswerCredit : 8)
                }}&nbsp;Credits
            )
          </button>
          <button *ngIf="!question.answers.length" mat-raised-button color="accent"
            (click)="openAnswerDialog(question)">
            FIRST TO ANSWER&nbsp;
            (
            {{ question.answerCredit? question.answerCredit : 
                  (defaultCredits?.defaultPublicAnswerCredit? defaultCredits.defaultPublicAnswerCredit : 8)
                }}&nbsp;Credits *
            {{defaultCredits?.defaultFirstAnswerCredit? defaultCredits.defaultFirstAnswerCredit : 2}}
            )
          </button>
        </div>
        <!-- </ng-template> -->
      </div>
      <!-- <div class="button-wrap" fxLayout="row" fxLayoutAlign="end center">
        <button mat-icon-button routerLink="/questions/question-detail/{{question._id}}"
          matTooltip="Go to question detail page" matTooltipClass="example-tooltip-color">
          <i class="fa fa-info-circle mute-text strong"></i>
        </button>
      </div> -->
    </div>
  </div>
</div>