<div *ngIf="visibleState" class="mb-1 main-box-shadow">
  <!-- <div *ngIf="visibleState" [@flyInOut] class="question-block"> -->
  <div class="row no-gutters">
    <div class="col-sm-12 col-md-5 col-lg-4 col-xl-4">
      <app-question-image [question]="question" [detailLinkFlag]="true"></app-question-image>
    </div>
    <div class="col-sm-12 col-md-7 col-lg-8 col-xl-8" fxLayout="column" fxLayoutAlign="space-between space-between">
      <div fxFlex class="p-1" fxLayout="column" fxLayoutAlign="space-between space-between">
        <div class="mb-1">
          <div class="mb-05" fxLayout="row">
            <div class="avatar-image">
              <div class="avatar" [style.background-image]="question?.asker?.profilePicture?.path?
                  'url(' + serverUrl +'/' + question.asker.profilePicture.path + ')' : 'url(assets/imgs/user.svg)'">
                <a mat-icon-button color="primary" class="no-hover-effect w-100 h-100" 
                  routerLink="/user/{{question.asker?._id}}">
                </a>
              </div>
            </div>
            <div>
              <h4 class="mute-text">{{question?.asker?.username? question?.asker?.username: 'unknown'}}</h4>
              <p class="mute-text">
                {{commonService.calcPastTime(question.createdAt)? commonService.calcPastTime(question.createdAt):
                  (question.createdAt| date:"MMM, dd yyyy") }}
              </p>
            </div>
          </div>
          <a class="text-block-wrap pointer h-100 mb-1" fxLayout="row" 
            routerLink="/questions/question-detail/{{question._id}}">
            <div>
              <span class="accent">Q:&nbsp;</span>
            </div>
            <div class="text-wrapper mute-text">
              {{question.title}}
            </div>
          </a>
        </div>
        <div class="answer-button-wrap">
          <button *ngIf="question.answers.length" mat-raised-button color="accent" (click)="openAnswerDialog(question)">
            ANSWER&nbsp;
            (
            {{ question.answerCredit? question.answerCredit : 
                  (defaultCredits?.defaultPublicAnswerCredit? defaultCredits.defaultPublicAnswerCredit : 8)
                }}&nbsp;Credits
            )
          </button>
          <button *ngIf="!question.answers.length" mat-raised-button color="accent"
            (click)="openAnswerDialog(question)">
            FIRST TO ANSWER&nbsp;
            (
            {{ question.answerCredit? question.answerCredit : 
                  (defaultCredits?.defaultPublicAnswerCredit? defaultCredits.defaultPublicAnswerCredit : 8)
                }}&nbsp;Credits *
            {{defaultCredits?.defaultFirstAnswerCredit? defaultCredits.defaultFirstAnswerCredit : 2}}
            )
          </button>
        </div>
        <!-- </ng-template> -->
      </div>
    </div>
  </div>
</div>