.question-block {
  margin-bottom: 1rem;
  border-radius: 4px;

  .avatar-image {
    width: 50px;
    margin-right: 1rem;
  }

  .question-label {
    margin-right: 5px;
  }

  .answer-label {
    margin-right: 5px;
  }

  .question-answer {
    padding: 1rem;

    &>div:first-child {
      margin-bottom: 1rem;
    }
  }

  .answer-wrapper {
    width: 100%;
  }

  .textarea-wrapper {
    width: 100%;
    height: 100%;

    textarea {
      font: 20px sans-serif;
      width: 100%;
      resize: none;
      height: 100%;
      border: solid 1px rgb(230, 230, 230) !important;
    }
  }

  .answer-button-wrap {
    text-align: center;

    button {
      width: 100%;
      max-width: 300px;
    }
  }

  .button-wrap {
    padding: 1rem;
    padding-top: 0;

    &>div {
      margin-bottom: 1rem;
    }
  }
}
