.question-list-w {
  padding-top: 1rem;
}

.question-block {
  border-radius: 4px;
  margin-bottom: 1rem;

  .avatar-image {
    width: 50px;
    margin-right: 1rem;

    img {
      width: 100%;
      height: auto;
    }
  }

  .question-label {
    margin-right: 5px;
  }

  .answer-label {
    margin-right: 5px;
  }

  .question-answer {
    padding: 1rem;

    &>div:first-child {
      margin-bottom: 1rem;
    }
  }

  mat-icon:hover {
    cursor: pointer;
  }

  .report-flag-wrap {
    margin-left: 1rem;
  }

  .answer-wrapper {
    width: 100%;
    height: 200px;
  }

  .textarea-wrapper {
    max-height: 100px;
    width: 100%;
    height: 100px;

    textarea {
      font: 20px sans-serif;
      width: 100%;
      resize: none;
      height: 100%;
      border: solid 1px rgb(230, 230, 230) !important;
    }

  }

  .thumb-up-wrap {
    margin-right: 2rem;
  }

  .thumb-down-wrap {
    margin-right: 2rem;
  }

  .thumb-up-number {
    margin-left: 0.5rem;
  }

  .button-wrap {
    margin: auto;
    text-align: center;

    button {
      margin: .5rem 0;
      width: 100%;
      max-width: 300px;
    }
  }

  .credit-wrap {
    div {
      margin-left: 0.5rem;
    }
  }

}
