<div *ngIf="auction" [@flyInOut] class="row no-gutters auction-detail-box">
  <div class="col-sm-5 col-md-5 col-lg-3 col-xl-3 auction-image-wrap">
    <div class="auction-image" [ngClass]="{'closed-auction': auction.role == bidService.auctionRole.closed}"
      [style.background-image]="auction?.auctionPicture?.length?
      'url(' + serverUrl +'/' + auction.auctionPicture[0] + ')' : 'url(assets/imgs/empty-image.png)'">
    </div>
    <div *ngIf="auction.role == bidService.auctionRole.closed" class="gavel-image"
      [style.background-image]="'url(assets/imgs/gavel-red.png)'">
    </div>
  </div>
  <div class="col-sm-7 col-md-7 col-lg-9 col-xl-9 auction-description-block">
    <div fxLayout="row" fxLayoutAlign="space-between center">
      <div class="production-name-wrap">{{auction.auctionTitle}}</div>
      <button *ngIf="auctionType == 'detail'" mat-icon-button tabindex="-1" color="accent"
        (click)="bidService.detailAuction = ''">
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <div fxLayout="column" fxLayout.gt-sm="row wrap" fxLayoutAlign="space-between stretch">
      <div fxFlex="100" fxFlex.gt-sm="70" class="fill-remaining-space main-color">
        <div class="auction-description-wrap">
          <div>BidBlab Price:</div>
          <div>{{auction.bidblabPrice | currency:'USD':'symbol':'1.2-2'}}</div>
        </div>
        <div class="auction-description-wrap">
          <div>Retail Price:</div>
          <div>{{auction.retailPrice | currency:'USD':'symbol':'1.2-2'}}</div>
        </div>
        <div class="auction-description-wrap">
          <div>Max Bid:</div>
          <div>{{auction.bidblabPrice | currency:'USD':'symbol':'1.2-2'}}</div>
        </div>
        <div class="auction-description-wrap">
          <div>Bid Fee:</div>
          <div>{{auction.bidFee}}&nbsp;Credits</div>
        </div>
        <div class="auction-description-wrap">
          <div>Auction Closes:</div>
          <div>{{auction.closes| date:"dd MMMM, yyyy hh:mm:ss a" }}</div>
        </div>
        <div class="auction-description-wrap">
          <div>Auction Id:</div>
          <div>#{{("0000000" + auction.auctionSerial).slice(-7)}}</div>
        </div>
        <div class="auction-description-wrap">
          <div>High Bidder:</div>
          <div routerLink="/user/{{auction.maxUniqueBid._id}}">
            {{auction.maxUniqueBid.firstName | titlecase}}.&nbsp;{{auction.maxUniqueBid.lastName.slice(0, 1) | titlecase}}
          </div>
        </div>
      </div>
      <div fxFlex="100" fxFlex.gt-sm="30" class="btn-wrap" fxLayout="column" fxLayoutAlign="end end">
        <button *ngIf="auctionType == 'layer'" class="bid-btn" (click)="displayDetail()" mat-raised-button
          color="accent">
          Detail
        </button>
        <button *ngIf="auctionType != 'layer' && auction.role != bidService.auctionRole.closed" class="bid-btn"
          (click)="openBidDialog()" mat-raised-button color="accent">
          Bid Now
        </button>
        <button *ngIf="auctionType != 'layer' && auction.role == bidService.auctionRole.closed" class="bid-btn"
          mat-raised-button color="accent">
          Sold
        </button>
      </div>
    </div>
  </div>
</div>