@import "../../../../../assets/scss/theme.scss";

@media (max-width: 599px) {
  .auction-detail-box {
    padding: 0.5rem !important;
    //width: calc(100vw - 2rem) !important;
  }
}

.auction-detail-box {
  padding: 1rem;
  margin: 0.5rem;
  border: solid 1px rgb(240, 240, 240);
  border-radius: 5px;
  //width: calc(100vw - 4rem);
  z-index: 1000;

  * {
    z-index: 1000;
  }

  .auction-image-wrap {
    position: relative;
    min-height: 200px;

    .auction-image {
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: 4px;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }

    .closed-auction {
      opacity: 0.6;
    }

    .gavel-image {
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: 4px;
      background-position: center;
      background-size: 80px;
      background-repeat: no-repeat;
    }
  }

  .production-name-wrap {
    font-size: 20px;
    font-weight: 600;
    color: $accent;
  }

  @media (max-width: 599px) {
    .auction-description-block {
      padding-left: 0rem !important;
      padding-top: 0.5rem !important;
    }
  }

  .auction-description-block {
    padding-left: 1rem;

    .auction-description-wrap {
      display: flex;
      padding: 2px 0px;
      align-items: center;

      div:first-child {
        width: 100px;
        font-size: 14px;
        font-weight: 700;
      }

      div:last-child {
        font-size: 12px;
        color: $primary;
      }
    }
  }

  .btn-wrap {
    padding-top: 1rem;

    .bid-btn {
      width: 100% !important;
    }
  }
}