@import "variables";

.pin {
  width: 24px;
  height: 24px;
  cursor: pointer;
  fill: currentColor;
}

@media (max-width: 599px) {
  .sidenav {
    width: 280px !important;
  }
}

.sidenav {
  width: 350px;

  .sidenav-header {
    padding: 0 10px !important;
  }

  .user-block {
    height: $sidenav-user-block-height;
    position: relative;
    z-index: 1;
    overflow: hidden;
    box-shadow: 0px 0px 5px 0px #ccc;

    img {
      margin-bottom: 8px;
      width: 100px;
      height: 100px;
      border-radius: 50%;
    }

    .user-info-wrapper {
      padding: 0 6px;
      margin: 6px 0;
      width: 100%;
    }
  }

  .sidenav-menu-outer {
    height: calc(100% - #{$toolbar-mobile-height + $sidenav-user-block-height + $sidenav-bottom-menu-height});
    padding: 5px 0px;

    .ps {
      height: initial;
    }
  }

  .sidenav-bottom-menu {
    padding: 4px 0rem;
    box-shadow: 0px 0px 5px 0px #ccc;

    .buttom-menu {
      flex-direction: row;
      box-sizing: border-box;
      display: flex;
      place-content: center flex-start;
      align-items: center;
      padding: 0;
      padding-left: 1rem;
      padding-top: 3px;
      padding-bottom: 3px;
      width: 100%;
      font-weight: 400;
    }
  }
}

mat-toolbar {
  padding: 0px !important;
}

.logo-wrap {
  height: 50px;
  width: 150px;
}

.app-wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.sticky-footer-wrap {
  flex-shrink: 0;
}

.main-page-wrap {
  padding-top: 1rem;
  min-height: 100%;
}

.app-content-wrap {
  padding-top: $toolbar-desktop-height;
  flex: 1 0 auto;
}

@media (max-width: 599px) {
  .app-content-wrap {
    padding-top: $toolbar-mobile-height !important;
  }
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2000;
  box-shadow: 0px 0px 5px 0px #ccc;

  .mat-toolbar {
    background-color: white;
  }

  button {
    color: rgba($color: #000000, $alpha: 0.5);
  }
}

.tab-nav-wrap {
  margin-top: 0.5rem;
  margin-bottom: 0rem;
}

@media (max-width: 599px) {
  footer {
    mat-toolbar {
      padding-bottom: 60px !important;
    }
  }
}

footer {
  box-shadow: 0px 0px 5px 0px #ccc;

  mat-toolbar {
    padding-top: 0.5rem;
    padding-bottom: 0px;
    height: fit-content !important;
  }

  .copyrights {
    color: white;
    font-size: 12px;
  }

  .footer-main {
    div a {
      color: white;
      font-size: 14px;
      padding: 0px 4px;
      border-right: solid 1px white;
    }
  }
}

.infiniteScroll-area {
  height: 100vh !important;
  overflow-y: scroll;
}
