<mat-sidenav-container>
  <mat-sidenav *ngIf="!commonService.isMediaActive('gt-xs')" [opened]="'false'" [mode]="'over'" #sidenav
    class="sidenav mat-elevation-z6">
    <mat-toolbar fxLayoutAlign="space-between center" class="sidenav-header">
      <a class="logo" style="display: flex;" routerLink="/" (click)="closeSubMenus()">
        <img class="logo-wrap" src="assets/icons/logo.svg" />
      </a>
    </mat-toolbar>

    <div fxLayout="column" fxLayoutAlign="center center" class="user-block transition-2" [class.show]="true">
      <div fxLayout="column" fxLayoutAlign="start center" class="user-info-wrapper">
        <img [src]="user?.profilePicture?.path? serverUrl +'/' + user.profilePicture.path : 'assets/imgs/user.svg'"
          alt="user-image">
        <h4>{{user?.username}}</h4>
      </div>
    </div>

    <perfect-scrollbar #sidenavPS class="sidenav-menu-outer">
      <span *ngIf="!menuItems">loading....</span>
      <app-vertical-menu [menuItems]="menuItems" [menuParentId]="0" (onClickMenuItem)="updatePS($event)">
      </app-vertical-menu>
      <mat-divider></mat-divider>
      <app-vertical-menu [menuItems]="menuItems" [menuParentId]="1" (onClickMenuItem)="updatePS($event)">
      </app-vertical-menu>
    </perfect-scrollbar>
    <div class="sidenav-bottom-menu">
      <a mat-button class="buttom-menu" (click)="logout(); toggleSidenav();">
        <mat-icon>power_settings_new</mat-icon> Logout
      </a>
    </div>
  </mat-sidenav>
  <mat-sidenav-content id="main">
    <block-ui>
      <div class="infiniteScroll-area" 
        infiniteScroll [infiniteScrollDistance]="1" [infiniteScrollThrottle]="50"
        (scrolled)="onScroll()" 
        [scrollWindow]="false" 
        id="main-nicescrollable">
        <div class="app-wrapper">
          <header>
            <mat-toolbar>
              <div class="container" fxLayout="row" fxLayoutAlign="start center">
                <div class="fill-remaining-space">
                  <button routerLink="/question/home" color="primary" class="no-hover-effect" mat-button>
                    <img class="logo-wrap" src="assets/icons/logo.svg" />
                  </button>
                </div>
                <app-horizontal-menu [menuParentId]="0" *ngIf="commonService.isMediaActive('gt-xs')" class="pr-4">
                </app-horizontal-menu>
                <ng-container *ngIf="isAuthenticated(); else notAuthenticated">
                  <mat-menu #userMenu="matMenu">
                    <button routerLink="/account" mat-menu-item>Account Information</button>
                    <button (click)="logout()" mat-menu-item>Logout</button>
                  </mat-menu>
                  <button *ngIf="commonService.isMediaActive('gt-xs')" color="primary" class="no-hover-effect"
                    mat-button [matMenuTriggerFor]="userMenu">
                    <div fxLayout="row" fxLayoutAlign="start center">
                      <div class="avatar margin-right-1rem" [style.background-image]="user?.profilePicture?.path?
                        'url(' + serverUrl +'/' + user.profilePicture.path + ')' : 'url(assets/imgs/user.svg)'">
                      </div>
                      <small class="">{{user?.username}}</small>
                    </div>
                  </button>
                  <button *ngIf="!commonService.isMediaActive('gt-xs')" mat-icon-button
                    [ngClass]="{'is-active': !menuHidden}" (click)="toggleSidenav()">
                    <mat-icon>menu</mat-icon>
                  </button>
                </ng-container>
                <ng-template #notAuthenticated>
                  <ng-container *ngIf="commonService.isMediaActive('gt-xs')">
                    <div fxLayout="row" fxLayoutAlign="start center">
                      <button class="mr-1" routerLink="/extra/login" mat-button>Log in</button>
                      <button routerLink="/extra/signup" color="accent" mat-stroked-button>Sign Up</button>
                    </div>
                  </ng-container>
                  <mat-menu #authMenu="matMenu">
                    <button routerLink="/questions/bid" mat-menu-item>BID</button>
                    <button routerLink="/questions/blab" mat-menu-item>BLAB</button>
                    <button routerLink="/extra/signup" mat-menu-item>SIGNUP</button>
                    <button routerLink="/extra/login" mat-menu-item>LOGIN</button>
                  </mat-menu>
                  <button *ngIf="!commonService.isMediaActive('gt-xs')" mat-icon-button [matMenuTriggerFor]="authMenu">
                    <mat-icon>more_vert</mat-icon>
                  </button>
                </ng-template>
              </div>
            </mat-toolbar>
          </header>
          <div class="app-content-wrap">
            <div class="container main-page-wrap">
              <router-outlet></router-outlet>
            </div>
          </div>
          <div class="sticky-footer-wrap">
            <footer>
              <mat-toolbar fxLayout="column" fxLayoutAlign="center" color="primary">
                <div fxLayout="column" fxLayout.gt-xs="row wrap" fxLayoutAlign="center center">
                  <div class="footer-main" fxLayout="row wrap" fxLayoutAlign="center center">
                    <div><a class="" routerLink="/sitemanager/about">About</a></div>
                    <div><a routerLink="/sitemanager/how">How it works</a></div>
                    <div><a routerLink="/sitemanager/investor"
                        [ngClass]="{'border-none': !commonService.isMediaActive('gt-xs')}">Investor Relations</a></div>
                  </div>
                  <div class="footer-main" fxLayout="row wrap" fxLayoutAlign="center center">
                    <div><a routerLink="/sitemanager/terms">Terms of Service</a></div>
                    <div><a routerLink="/sitemanager/privacy">Privacy Policy</a></div>
                    <div><a routerLink="/sitemanager/cookie" class="border-none">Cookie Policy</a></div>
                  </div>
                </div>
                <div fxLayout="row" fxLayoutAlign="center center" class="copyright-wrap">
                  <small class="copyrights">&copy; Dev Pony 2019-2020</small>
                </div>
              </mat-toolbar>
            </footer>
          </div>
        </div>
      </div>
    </block-ui>
  </mat-sidenav-content>
</mat-sidenav-container>
