@import "../assets/scss/variables";

.pin {
  width: 24px;
  height: 24px;
  cursor: pointer;
  fill: currentColor;
}

.sidenav-header {
  padding: 0 10px !important;
}

.user-block {
  height: 0;
  position: relative;
  z-index: 1;
  overflow: hidden;

  img {
    width: 80px;
    height: 80px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 50%;
  }

  .user-info-wrapper {
    padding: 0 6px;
    margin: 6px 0;
    width: 100%;

    .user-info {
      text-align: center;

      .name {
        font-size: 20px
      }

      .position {
        font-size: 13px;
      }
    }
  }

  &.show {
    height: $sidenav-user-block-height;
  }
}

.sidenav-menu-outer {
  .ps {
    height: calc(100% - #{$toolbar-desktop-height});
  }

  &.user-block-show {
    .ps {
      height: calc(100% - #{$toolbar-desktop-height + $sidenav-user-block-height});
    }
  }
}

mat-toolbar {
  padding: 0px !important;
}

.logo-wrap {
  height: 50px;
  width: 150px;
}

.app-wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.sticky-footer-wrap {
  flex-shrink: 0;
}


.main-page-wrap {
  background: white;
  padding-top: 1rem;   
  min-height: 100%;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
}

.app-content-wrap {
  padding-top: $toolbar-desktop-height;
  flex: 1 0 auto;
}

@media (max-width: 599px) {
  .app-content-wrap {
    padding-top: $toolbar-mobile-height !important;
  }
}

.mat-button {
  text-transform: uppercase;
}

header {
  box-shadow: 0px 0px 5px 0px #ccc;

  button {
    color: rgba($color: #000000, $alpha: 0.5);
  }
}

header {
  background: #fff;
  box-shadow: 0px 0px 5px 0px #ccc;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2000;
}

.tab-nav-wrap {
  margin-top: 0.5rem;
  margin-bottom: 0rem;
}

.mobile-menu-show {
  top: 0;
}

.mobile-nav {
  display: inline-table;
  height: 48px;
  width: 100%;

  text-decoration: none;
  font-size: 16px;

  .nav-icon {
    display: table-cell;
    padding-left: 15px;
    width: 24px;
    vertical-align: middle;
  }

  .nav-label {
    color: rgba(0, 0, 0, .54);
    display: table-cell;
    padding-left: 15px;
    vertical-align: middle;
  }
}

.mobile-menu-w {
  width: 100%;
  height: 100%;
  background: white;
  z-index: 1000;
  padding: 1rem 1rem;
  top: -100vh;
  transition: all ease 0.2s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .spiliter {
    border-bottom: solid 2px #ccc;
  }

  .bottom-wrap {
    padding: 0.5rem;
    justify-content: center;
    display: flex;
  }
}

.logo-wrap {
  width: 150px;
}

.mat-button {
  text-transform: uppercase;
}

footer {
  box-shadow: 0px 0px 5px 0px #ccc;

  mat-toolbar {
    padding-top: 0.5rem;
    height: fit-content !important;
  }

  .copyrights {
    color: white;
    font-size: 12px;
  }

  .footer-main {
    div a {
      color: white;
      font-size: 14px;
      font-family: initial;
      padding: 0px 4px;
      border-right: solid 1px white;
    }
  }
}

@media (max-width: 599px) {
  .infiniteScroll-area {
    // height: calc(100vh - $toolbar-mobile-height) !important;
    height: 100vh !important;
    height: 100vh;
  }
}

.infiniteScroll-area {
  // height: calc(100vh - $toolbar-desktop-height);
  height: 100vh;
  overflow-y: scroll;
}
