@media (max-width: 599px){
  .question-answer-block {
    margin-bottom: 0.5rem !important;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem !important;
    .avatar-image {
      margin-right: 0.5rem !important;
    }
    .credit-wrap {
      margin-top: 0.5rem !important;
    }
    .question-block{
      margin-bottom: 0.5rem !important;
    }
  }
}

.page {
  .question-answer-block {
    margin-bottom: 1rem;
    padding: 1rem 1rem 1rem 1rem;
    width: 100%;
    border: solid 1px rgb(240, 240, 240);
    border-radius: 4px;
    .avatar-image {
      width: 50px;
      margin-right: 1rem;
      text-align: center;
    }
    .credit-wrap {
      margin-top: 1rem;
    }
    .question-block{
      margin-bottom: 1rem;
    }
  }
}


