@import "theme";

.button-wrap {
  margin: 1rem;
  width: 100%;
  align-items: right;
  text-align: end;

  button {
    border-radius: 5px;
  }
}

.bidprice-wrap {
  width: 100%;
  padding-top: 1rem;
}

.auction-image {
  min-height: 140px;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.catagory-content-wrap {

  @media (max-width: 599px) {
    .auction-description-block {
      padding-left: 0rem !important;
      padding-top: 0.5rem !important;
    }
  }

  .auction-description-block {
    padding-left: 1rem;

    .auction-description-wrap {
      display: flex;
      padding: 2px 0px;
      align-items: center;

      div:first-child {
        width: 110px;
      }

      div:last-child {
        font-size: 12px;
        color: $primary;
      }
    }
  }
}