<div class="mb-1 main-box-shadow">
  <div class="row no-gutters">
    <div class="col-sm-12 col-md-5 col-lg-4 col-xl-4">
      <app-question-image [question]="question" [detailLinkFlag]="true"></app-question-image>
    </div>
    <div class="col-sm-12 col-md-7 col-lg-8 col-xl-8" fxLayout="column" fxLayoutAlign="space-between space-between">
      <div class="p-1" fxLayout="column">
        <div class="mb-05" fxLayout="row">
          <div class="avatar-image">
            <div class="avatar" [style.background-image]="question?.asker?.profilePicture?.path?
              'url(' + serverUrl +'/' + question.asker.profilePicture.path + ')' : 'url(assets/imgs/user.svg)'">
              <button mat-icon-button color="primary" class="no-hover-effect" routerLink="/user/{{question.asker?._id}}">
              </button>
            </div>
          </div>
          <div>
            <h4 class="mute-text">{{question?.asker?.username? question?.asker?.username: 'unknown'}}</h4>
            <p class="mute-text">
              {{commonService.calcPastTime(question.createdAt)? commonService.calcPastTime(question.createdAt):
                (question.createdAt| date:"MMM, dd yyyy") }}
            </p>
          </div>
        </div>
        <div class="text-block-wrap pointer mb-1" fxLayout="row" routerLink="/questions/question-detail/{{question._id}}">
          <div>
            <span class="accent">Q:&nbsp;</span>
          </div>
          <div class="text-wrapper mute-text">
            {{question.title}}
          </div>
        </div>

        <ng-container *ngIf="question.answers.length else noAnswer" >
          <div class="mb-05" fxLayout="row">
            <div class="avatar-image">
              <div class="avatar"
                [style.background-image]="question?.answers[0]?.answerer?.profilePicture?.path?
                'url(' + serverUrl +'/' + question.answers[0].answerer.profilePicture.path + ')' : 'url(assets/imgs/user.svg)'">
                <button *ngIf="question.answers[0].answertype == 'public'; else noPublic" mat-icon-button color="primary"
                  class="no-hover-effect" routerLink="/user/{{question.answers[0].answerer?._id}}">
                </button>
                <ng-template #noPublic>
                  <button mat-icon-button color="primary" class="no-hover-effect" (click)="alert()">
                    <mat-icon>security</mat-icon>
                  </button>
                </ng-template>
              </div>
            </div>
            <div>
              <h4 *ngIf="question.answers[0].answertype == 'public'" class="mute-text">
                {{question?.answers[0]?.answerer?.username? question?.answers[0]?.answerer?.username: 'unknown'}}
              </h4>
              <h4 *ngIf="question.answers[0].answertype != 'public'" class="mute-text">
                Private
              </h4>
              <p class="mute-text">
                {{commonService.calcPastTime(question.answers[0].createdAt)? commonService.calcPastTime(question.answers[0].createdAt):
                  (question.answers[0].createdAt| date:"MMM, dd yyyy") }}
              </p>
            </div>
          </div>
          <div class="text-block-wrap pointer mb-1" fxLayout="row" routerLink="/questions/question-detail/{{question._id}}">
            <div>
              <span class="accent">A:&nbsp;</span>
            </div>
            <div class="text-wrapper mute-text">
              {{question.answers[0].content}}
            </div>
          </div>
        </ng-container>
        <ng-template #noAnswer>
          <div class="mb-1 mute-text text-block-wrap">There are no submitted answers. Please answer this question, then you will get 
              {{ question.answerCredit? question.answerCredit : 
                (defaultCredits?.defaultPublicAnswerCredit? defaultCredits.defaultPublicAnswerCredit : 8)
              }}&nbsp;Credits *
              {{defaultCredits?.defaultFirstAnswerCredit? defaultCredits.defaultFirstAnswerCredit : 2}}.
          </div>
        </ng-template>
        
      </div>
    </div>
  </div>
</div>
