<div class="question-block">
  <div class="row no-gutters">
    <div class="col-sm-12 col-md-5 col-lg-4 col-xl-4">
      <app-question-image [question]="question"></app-question-image>
    </div>
    <div class="col-sm-12 col-md-7 col-lg-8 col-xl-8">
      <div class="question-answer" fxLayout="column">
        <div fxLayout="row">
          <div class="avatar-image">
            <div class="avatar" [style.background-image]="question?.asker?.profilePicture?.path?
              'url(' + serverUrl +'/' + question.asker.profilePicture.path + ')' : 'url(assets/imgs/user.svg)'">
              <button mat-icon-button color="primary" class="no-hover-effect" routerLink="/user/{{question.asker?._id}}">
              </button>
            </div>
          </div>
          <div class="text-block-wrap" fxFlex fxLayout="row">
            <div>
              <span class="accent">Q:&nbsp;</span>
            </div>
            <div routerLink="/questions/question-detail/{{question._id}}" class="text-wrapper question-title main-color">
              {{question.title}}
            </div>
          </div>
        </div>
        <div *ngIf="question.answers.length" fxLayout="row">
          <div class="avatar-image">
            <div class="avatar" [style.background-image]="question?.answers[0]?.answerer?.profilePicture?.path?
              'url(' + serverUrl +'/' + question.answers[0].answerer.profilePicture.path + ')' : 'url(assets/imgs/user.svg)'">
              <button *ngIf="question.answers[0].answertype == 'public'; else noPublic" 
                mat-icon-button color="primary" class="no-hover-effect" routerLink="/user/{{question.answers[0].answerer?._id}}">
              </button>
              <ng-template #noPublic>
                <button 
                  mat-icon-button color="primary" class="no-hover-effect" (click)="alert()">
                  <mat-icon>security</mat-icon>
                </button>
              </ng-template>
            </div>
          </div>
          <div class="text-block-wrap" fxFlex fxLayout="row">
            <div>
              <span class="accent">A:&nbsp;</span>
            </div>
            <div class="text-wrapper main-color">
              {{question.answers[0].content}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
