<app-search></app-search>
<div *ngIf="mytotalQuestionsCount; else nomyQuestions" class="page mute-text">
  <div *ngFor="let question of myquestions">
    <div class="mb-1 p-1 main-box-shadow" fxLayout="column"
      fxLayoutAlign=" none">
      <div class="text-block-wrap" fxLayout="row">
        <div>
          <span class="accent">Q:&nbsp;</span>
        </div>
        <a routerLink="/question-detail/{{question._id}}" class="mute-text">
          <app-read-more [content]="question.title" [maxLength]="90"></app-read-more>
        </a>
      </div>
      <div class="main-pt pl-1">
        Earned <span class="accent">{{question.credit}}</span> BidBlab Credits
      </div>
      <div class="mt-1 pl-1">
        {{question.createdAt| date:"dd MMM, yyyy hh:mm:ss a" }}
      </div>
    </div>
  </div>
</div>
<ng-template #nomyQuestions>
  <h3 class="accent stretch" style="text-align: center">No questions submitted</h3>
</ng-template>