.image-block {
  padding: 1rem;
  width: 100%;
}

.question-image-wrap {
  height: 228px;
  width: 100%;
  border-radius: 4px;
  overflow: hidden;
  margin-bottom: 1rem;
}
.question-image-wrap:hover {
  .question-image {
    transform: scale(1.1);
  }
}
.question-image {
  height: 100%;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;

  
}
.question-category.mat-standard-chip{
  font-size: 12px;
  opacity: 0.9;
}
