<div class="image-block" fxLayout="column" fxLayoutAlign="space-between center">
  <div class="question-image-wrap">
    <a *ngIf="detailLinkFlag" routerLink="/question-detail/{{question._id}}" (click)="sendData()">
      <div class="question-image pointer" [style.background-image]="question?.questionPicture?.path?
        'url(' + serverUrl +'/' + question.questionPicture.path + ')' : 'url(assets/imgs/empty-image.png)'" >
      </div>
    </a>
    <div *ngIf="!detailLinkFlag"  class="question-image" [style.background-image]="question?.questionPicture?.path?
      'url(' + serverUrl +'/' + question.questionPicture.path + ')' : 'url(assets/imgs/empty-image.png)'">
    </div>
  </div>
  
  <div>
    <mat-chip-list>
      <mat-chip *ngFor="let tag of question.tags" class="question-category" color="accent" selected>{{ tag }}</mat-chip>
    </mat-chip-list>
  </div>
</div>
