.question-list-w {
  padding-top: 1rem;
}

.question-label {
  margin-right: 5px;
}

.answer-label {
  margin-right: 5px;
}

mat-icon:hover {
  cursor: pointer;
}

.report-flag-wrap {
  margin-left: 1rem;
}

.answer-wrapper {
  width: 100%;
  height: 200px;
}

.thumb-up-wrap {
  margin-right: 2rem;
}

.thumb-down-wrap {
  margin-right: 2rem;
}

.thumb-up-number {
  margin-left: 0.5rem;
}

.button-wrap {
  text-align: center;
  &>:first-child {
    margin-bottom: 0.5rem;
  }

  button {
    width: 100%;
    max-width: 360px;
  }
}

.credit-wrap {
  div {
    margin-left: 0.5rem;
  }
}

