@import "theme";

.bid-result-box {
  margin: 0.5rem;
  border: solid 1px rgb(240, 240, 240);
  border-radius: 5px;
  z-index: 1000;

  * {
    z-index: 1000;
  }
}

  .bid-result-title {
    padding-left: 1rem;
    border-bottom: solid 1px rgb(240, 240, 240);
    border-radius: 5px 5px 0px 0px;
  }

@media (max-width: 599px) {
  .bid-result-box {
    padding: 0.5rem !important;
  }
}


@media (max-width: 599px) {
  .bid-price-box {
    font-size: 12px;
  }
}

.bid-price-wrap {
  position: relative;
  margin-right: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.bid-price-bg {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  box-sizing: border-box;
}

.highst-mark {
  background-color: #f8498dff;
}

.unique-mark {
  background-color: #9216d0ff;
}

.deplicate-mark {
  background-color: #666666ff;
}

.bid-price {
  position: absolute;
  top: 20px;
  left: 3px;
  color: white;
  width: 54px;
  height: 20px;
  text-align: center;
}