@import "../../../../../assets/scss/theme.scss";

@media (max-width: 599px) {
  .bid-result-box {
    padding: 0.5rem !important;
    //width: calc(100vw - 2rem) !important;
  }
}

.bid-result-box {
  margin: 0.5rem;
  border: solid 1px rgb(240, 240, 240);
  border-radius: 5px;
  //width: calc(100vw - 4rem);
  z-index: 1000;

  * {
    z-index: 1000;
  }

  .bid-result-title {
    height: 40px;
    display: flex;
    align-items: center;
    padding-left: 1rem;
    font-size: 20px;
    color: $accent;
    border-bottom: solid 1px rgb(240, 240, 240);
    border-radius: 5px 5px 0px 0px;
  }

  .bid-result-content {
    padding: 1rem;

    .bid-result-wrap {
      display: flex;
      width: 100%;
      padding: 0.25rem 0rem;

      .bid-price-box {
        position: relative;
      }

      .bid-price-wrap {
        width: 60px;
        height: 60px;
        border-radius: 60px;
      }

      .highst-mark {
        border-radius: 30px;
        background-color: #f8498dff;
      }

      .unique-mark {
        border-radius: 30px;
        background-color: #9216d0ff;
      }

      .deplicate-mark {
        border-radius: 30px;
        background-color: #666666ff;
      }

      .bid-price {
        position: absolute;
        top: 20px;
        left: 3px;
        width: 54px;
        height: 20px;
        color: white;
        text-align: center;
      }

      .bid-content-wrap {
        display: flex;
        width: 100%;
        display: flex;
        align-items: center;
        padding: 0px 1rem;

        .username-wrap {
          display: flex;
          align-items: center;
        }
      }
    }
  }

}