<div *ngIf="follows; else noFollower" class="follow-page">
  <div class="row no-gutters">
    <div *ngFor="let follow of follows" class="col-sm-12 col-md-6 col-lg-4">
      <div class="follow-box-wrap" fxLayout="column" fxLayoutAlign="space-around center">
        <div class="avatar" [style.background-image]="follow?.follower?.profilePicture?.path?
              'url(' + serverUrl +'/' + follow.follower.profilePicture.path + ')' : 'url(assets/imgs/user.svg)'">
        </div>
        <div class="username-wrap main-font">{{follow?.follower?.username}}</div>
        <div class="title-wrap main-font">{{follow?.follower?.physicaladdress}},{{follow?.follower?.physicalstate}}</div>
        <div class="row">
          <div class="col-6">
            <button mat-raised-button color="accent" routerLink="/user/{{follow?.follower?._id}}">View</button>
          </div>
          <!-- <div class="col-6">
              <button mat-raised-button color="accent" (click)="deleteFollow('user', user._id)">Unfollow</button>
            </div> -->
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #noFollower>
  <h3 class="accent stretch" style="text-align: center">No questions and users following</h3>
</ng-template>