@import "theme";

.user-wrap {
  margin-bottom: 1rem;
  border-radius: 4px;
}

.profile-wrap {
  padding: 1rem;

  .avatar {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-right: 0;
  }
}

.filter-wrap {
  margin-right: 1rem;
}

.introduction-wrap {
  padding: 1rem;
}

.about-content-wrap {
  text-align: justify;
  min-height: 6rem;
}

.button-wrap {
  button {
    margin-left: 1rem;
  }
}

.answer-page-wrap {
  border-radius: 4px;
  margin-bottom: 1rem;

  .answer-header-wrap {
    padding: 0.5rem;
  }
}

.question-page-wrap {
  border-radius: 4px;

  .question-header-wrap {
    padding: 0.5rem;
    margin-bottom: 0.5rem;
  }

  .question-block-wrap {
    margin: 0 -0.5rem;

    .question-box {
      margin: 0.5rem;
    }
  }

}

.card-grid-wrap {
  margin: 0.5rem;

  .card-image-wrap {
    overflow: hidden;

    img {
      vertical-align: middle;
      width: 100%;
      max-width: 100%;
      height: auto;
      border-style: none;
    }
  }

  .card-title {
    margin-top: 1rem;
    font-size: 1.5rem;
    font-weight: 500;
    height: 32px;
    overflow: hidden;
    text-align: center !important;
  }

  .card-body {
    padding: 1rem;
    line-height: 1.7;
    font-size: 0.9rem;
    font-weight: 300;

    .card-body-content {
      height: 70px;
      overflow: hidden;
    }

    .question-category.mat-standard-chip {
      font-size: 12px;
      opacity: 0.9;
    }


  }

}

.card-list-wrap {
  margin: 0.5rem;
  padding: 1rem;

  .card-image-wrap {
    height: 200px;
    width: 100%;
    border-radius: 4px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 1;


    img {
      vertical-align: middle;
      width: 100%;
      max-width: 100%;
      height: auto;
      border-style: none;
    }
  }

  .card-title {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    font-weight: 500;
    text-align: center !important;
  }

  .card-body {
    margin-bottom: 1rem;
    padding-left: 1rem;
    max-height: 200px;
    overflow: hidden;
    line-height: 1.7;
    font-size: 0.9rem;
    font-weight: 300;

    .card-body-content {
      max-height: 160px;
      overflow: hidden;
    }

    .answer-text {
      height: 52px;
    }

    .question-category.mat-standard-chip {
      font-size: 12px;
      opacity: 0.9;
    }

  }
  
}
