<div class="custom-dialog-wrap">
  <div id="sq-ccbox">
    <form id="nonce-form" novalidate action="" method="post">
      <div fxLayout="row" fxLayoutAlign="space-between center">
        <h2>Pay with a Credit Card</h2>
        <button mat-icon-button mat-dialog-close tabindex="-1">
          <mat-icon>close</mat-icon>
        </button>
      </div>
      <div class="sq-field">
        <label class="sq-label" for="sq-card-number">Card Number:</label>
        <div id="sq-card-number"></div>
        <div class="inline-error" *ngIf="validationError.cardNumber">{{validationError.cardNumber}}</div>
      </div>
      <div class="sq-field-wrapper">
        <div class="sq-field sq-field--in-wrapper">
          <label for="sq-cvv">CVV:</label>
          <div id="sq-cvv"></div>
          <div class="inline-error" *ngIf="validationError.cvv">{{validationError.cvv}}</div>
        </div>
        <div class="sq-field sq-field--in-wrapper">
          <label for="sq-expiration-date">Expiration:</label>
          <div id="sq-expiration-date"></div>
          <div class="inline-error" *ngIf="validationError.expirationDate">{{validationError.expirationDate}}</div>
        </div>
        <div class="sq-field sq-field--in-wrapper">
          <label for="sq-postal-code">Postal Code:</label>
          <div id="sq-postal-code"></div>
          <div class="inline-error" *ngIf="validationError.postalCode">{{validationError.postalCode}}</div>
        </div>
      </div>
      <div class="sq-field">
        <button id="sq-creditcard" mat-raised-button color="accent" class="sq-button"
          (click)="this.requestCardNonce($event)" [disabled]="submitted">
          Pay with card
        </button>
      </div>
    </form>
  </div>
</div>
