<div [style.height.px]="myInnerHeight" class="mb-1 center-content">
  <dfp-ad *ngIf="visibleState" [adUnit]="adsUnit" collapse-if-empty responsive (afterRefresh)="refreshed($event)">
    <dfp-size [width]="320" [height]="50"></dfp-size>
    <dfp-size [width]="320" [height]="100"></dfp-size>
    <dfp-size [width]="300" [height]="250"></dfp-size>
    <dfp-size [width]="336" [height]="280"></dfp-size>
    <dfp-size [width]="728" [height]="90"></dfp-size>
    <dfp-size [width]="970" [height]="90"></dfp-size>
    <dfp-size [width]="970" [height]="250"></dfp-size>
  </dfp-ad>
</div>
