/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~bootstrap/scss/bootstrap-grid.scss";
@import "assets/scss/breakpoints";
@import "assets/scss/theme.scss";
@import "assets/scss/base.scss";
@import "assets/scss/libs-override";
@import "assets/scss/sq-payment-form.scss";
@import "../node_modules/datetimepicker/dist/DateTimePicker.css";

html,
body {
  margin: 0;
  font-family: "Roboto";
}

div.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  button {
    width: 100%;
    height: 100%;
  }
}

.display-none {
  display: none !important;
}

.tab-nav-wrap {
  .mat-tab-links {
    justify-content: space-between;
  }
}

.search-box {
  padding: 0.5rem 0.5rem;

  mat-form-field {
    width: 100%;
  }

  .mat-form-field-wrapper {
    padding-bottom: 0 !important;
    width: 100%;
  }
}

.center-align {
  padding: 0.5rem;
  justify-content: center;
  display: flex;
}

.main-border {
  border: solid 1px rgb(240, 240, 240);
  border-radius: 4px;
}

.margin-right-1rem {
  margin-right: 1rem;
}

.margin-left-1rem {
  margin-left: 1rem;
}

.margin-left-3rem {
  margin-left: 3rem;
}

.margin-top-1rem {
  margin-top: 1rem;
}

.padding-05rem {
  padding: 0.5rem;
}

.padding-1rem {
  padding: 1rem;
}

.margin-1rem {
  margin: 1rem;
}

.margin-05rem {
  margin: 0.5rem;
}

.mat-form-field.no-padding>.mat-form-field-wrapper {
  margin-bottom: -1.25em;
  //margin-top: -0.25em;
}

.mat-form-field-appearance-outline .mat-form-field-wrapper {
  margin: 0;
}

.no-hover-effect.mat-button.mat-primary .mat-button-focus-overlay,
.no-hover-effect.mat-button.mat-accent .mat-button-focus-overlay,
.no-hover-effect.mat-button.mat-warn .mat-button-focus-overlay {
  background-color: transparent;
}

.main-font {
  font: 20px sans-serif;
}

.margin-bottom-1rem {
  margin-bottom: 1rem;
  ;
}

.margin-bottom-05rem {
  margin-bottom: 0.5rem;
  ;
}

span.accent {
  color: $accent;
}

.text-block-wrap {
  font-size: 0.9rem;
  font-weight: 400;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
  height: 5rem;
  text-align: justify;
  overflow-wrap: break-word;
}

@media (max-width: 599px) {
  .mat-calendar {
    zoom: 0.8;
  }

  .text-block-wrap {
    font: 14px sans-serif;
    text-overflow: ellipsis;
    height: 6.0rem;
  }

  .container {
    padding-right: 0.5rem !important;
    padding-left: 0.5rem !important;
  }

  .mobile-display-none {
    display: none !important;
  }

}

mat-dialog-content {
  max-height: unset !important;
  overflow: unset !important;
}

.opecity {
  opacity: 0.3;
}

.hidden {
  visibility: hidden;
}

.cropped-img {
  border-radius: 5px;
  width: 240px !important;
}

.round {
  border-radius: 50%;
}

//Style for datetimepicker
.dtpicker-cont {
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);

  .dtpicker-buttonSet {
    background: $accent !important;
  }

  .dtpicker-buttonClear {
    background: $primary !important;
  }

  .dtpicker-value,
  .dtpicker-close {
    color: $accent !important;
  }

  .dtpicker-components {
    * {
      color: $primary !important;
    }
  }

  .dtpicker-title {
    color: $primary !important;
  }

  .dtpicker-buttonCont .dtpicker-button {
    border-radius: 5px !important;
  }


}
