.button-wrapper {
  width: 100%;
  text-align: center;

  div {
    margin: 0.5rem;

    button {
      width: 100%;
    }
  }
}

.question-title-wrap {
  margin-bottom: 0.5rem;
  text-align: justify;
}