<div fxLayout="column" fxLayoutAlign="start center">
  <form class="py-1 w-100" [formGroup]="form" (ngSubmit)="submitForm()" autocomplete="off" novalidate>
    <mat-card class="custom-card">
      <mat-card-header class="p-1" fxLayoutAlign="center center">
        <mat-card-title class="m-0">
          <div class="page-title">Sign up and receive {{defaultCredits? defaultCredits.defaultSignupCredit : '50'}} bid
            credits!</div>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content fxLayout="row wrap" fxLayoutAlign="space-between">
        <mat-form-field appearance="outline" fxFlex="50" class="pr-05">
          <mat-label>Firstname</mat-label>
          <input type="text" matInput formControlName="firstName" required>
          <mat-error *ngIf="checkError(form, 'firstName', ['required', 'blank'])">
            Required.
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" fxFlex="50" class="pl-05">
          <mat-label>Lastname</mat-label>
          <input type="text" matInput formControlName="lastName" required>
          <mat-error *ngIf="checkError(form, 'firstName', ['required', 'blank'])">
            Required.
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" fxFlex="100">
          <mat-label>Birthday</mat-label>
          <div class="cont-datetime">
            <input #dateinput matInput readonly formControlName="birthday" type="text" data-field="date">
          </div>
          <div #datepicker></div>
          <mat-error *ngIf="checkError(form, 'birthday', ['required'])">
            Required.
          </mat-error>
          <mat-error *ngIf="checkError(form, 'birthday', ['notAdault']) && !checkError(form, 'birthday', ['required'])">
            Required 18 years of age or older.
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" fxFlex="50" class="pr-05">
          <mat-label>Email</mat-label>
          <input type="email" matInput formControlName="email" required>
          <mat-error *ngIf="checkError(form, 'email', ['required', 'blank'])">
            Required.
          </mat-error>
          <mat-error *ngIf="checkError(form, 'email', 'email') && !checkError(form, 'email', ['required', 'blank'])">
            Email must be in a valid format.
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" fxFlex="50" class="pl-05">
          <mat-label>Username</mat-label>
          <input type="text" matInput formControlName="username" required>
          <mat-error *ngIf="checkError(form, 'username', ['required', 'blank'])">
            Required.
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" fxFlex="100">
          <mat-label>Password</mat-label>
          <input [type]="passwordVisibility ? 'text' : 'password'" matInput formControlName="password" required>
          <mat-icon matSuffix (touchstart)="togglePasswordVisibility($event)"
            (touchend)="togglePasswordVisibility($event)" (mousedown)="togglePasswordVisibility($event)"
            (mouseup)="togglePasswordVisibility($event)" (mouseleave)="togglePasswordVisibility($event)"
            style="cursor: pointer">
            {{ passwordVisibility ? 'visibility' : 'visibility_off' }}
          </mat-icon>
          <mat-error *ngIf="checkError(form, 'password', 'required')">
            Required.
          </mat-error>
          <mat-error
            *ngIf="checkError(form, 'password', 'minlength') && !checkError(form, 'password', ['required', 'blank'])">
            Minimum 8 Characters.
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" fxFlex="100">
          <mat-label>Confirm Password</mat-label>
          <input type="password" matInput formControlName="confirmPassword" required>
          <mat-error *ngIf="checkError(form, 'confirmPassword', 'required')">
            Required.
          </mat-error>
          <mat-error
            *ngIf="checkError(form, 'confirmPassword', 'passwordsMismatch') && !checkError(form, 'confirmPassword', ['required', 'blank'])">
            Passwords do not match.
          </mat-error>
        </mat-form-field>
        <div class="accept-wrap pt-1" fxFlex="100">
          <div>
            <mat-checkbox formControlName="accept"></mat-checkbox>
          </div>
          <div>I have read, understand and accept Bid Blab's
            <a class="c-p" routerLink="/sitemanager/terms">Terms of Service</a>,
            <a class="c-p" routerLink="/sitemanager/cookie">Cookie</a>
            and <a class="c-p" routerLink="/sitemanager/privacy">Privacy Policies</a>.
          </div>
        </div>
        <div class="pt-1" fxFlex="100">
          <button class="w-100" mat-raised-button color="accent"
            [disabled]="form.invalid || submitted || !form.value.accept" type="submit">
            Join Our Community
          </button>
        </div>
        <div class="py-1" fxFlex="100">
          <button class="w-100" mat-raised-button color="primary" (click)="goBack()">
            Cancel
          </button>
        </div>
        <div class="py-1" fxFlex="100" fxLayout="row" fxLayoutAlign="center center">
          Already have an account?&nbsp;
          <a class="c-p" routerLink="/extra/login" color="accent">Log in</a>
        </div>
      </mat-card-content>
    </mat-card>
  </form>
</div>
