.accept-wrap {
  display: flex;

  >div:first-child {
    margin-right: 0.5rem;
  }
}

@media (min-width: 600px) {
  mat-card {
    width: 400px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12) !important;
  }

  form {
    width: 400px !important;
  }
}
