<app-search [searchValue]="commonService.blabState.searchValue" (sendData)="getDataFromSearch($event)"></app-search>
<div class="center-content p-1 mb-1 main-box-shadow" *appShellNoRender>
  <dfp-ad adUnit="/21864042387/Blab_Page_All" collapse-if-empty responsive>
    <dfp-size [width]="320" [height]="50"></dfp-size>
    <dfp-size [width]="320" [height]="100"></dfp-size>
    <dfp-size [width]="728" [height]="90"></dfp-size>
    <dfp-size [width]="970" [height]="90"></dfp-size>
  </dfp-ad>
</div>

<ng-container *ngIf="commonService.blabState.questions.length">
  <div *ngFor="let question of commonService.blabState.questions; let i = index;" fxLayout="column" id="{{'blab-question-' + i}}">
    <app-answer-box [questionIndex]="i"></app-answer-box>
    <ng-container *appShellNoRender>
      <ng-container *ngIf="i == 1 || i % 9 == 1 || i % 9 == 5">
        <app-ads-block adsUnit="/21864042387/Blab_Page_All"></app-ads-block>
      </ng-container>
    </ng-container>
  </div>
</ng-container>
