<h2 mat-dialog-title>Reset Password</h2>
<form [formGroup]="form" (ngSubmit)="submitForm()" autocomplete="off" novalidate>
  <mat-dialog-content fxLayout="column">
    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input [type]="passwordVisibility ? 'text' : 'password'" matInput formControlName="password" required>
      <mat-hint>Minimum 8 Characters.</mat-hint>
      <mat-icon matSuffix (touchstart)="togglePasswordVisibility($event)" (touchend)="togglePasswordVisibility($event)"
        (mousedown)="togglePasswordVisibility($event)" (mouseup)="togglePasswordVisibility($event)"
        (mouseleave)="togglePasswordVisibility($event)" style="cursor: pointer">
        {{ passwordVisibility ? 'visibility' : 'visibility_off' }}
      </mat-icon>
      <mat-error *ngIf="checkError(form, 'password', 'required')">
        Required.
      </mat-error>
      <mat-error
        *ngIf="checkError(form, 'password', 'minlength') && !checkError(form, 'password', ['required', 'blank'])">
        Minimum 8 Characters.
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Confirm Password</mat-label>
      <input type="password" matInput formControlName="confirmPassword" required>
      <mat-error *ngIf="checkError(form, 'confirmPassword', 'required')">
        Required.
      </mat-error>
      <mat-error
        *ngIf="checkError(form, 'confirmPassword', 'passwordsMismatch') && !checkError(form, 'confirmPassword', ['required', 'blank'])">
        Passwords do not match.
      </mat-error>
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button class="" mat-raised-button color="accent" [disabled]="form.invalid || submitted" type="submit">
      Reset
    </button>
  </mat-dialog-actions>
</form>
