.page {
  .desktop-block {
    margin-bottom: 1rem;
    padding: 1rem 1rem 1rem 1rem;
    width: 100%;
    border: solid 1px rgb(240, 240, 240);
    border-radius: 4px;

    .credit-wrap {
      margin-top: 1rem;
    }
  }

  .mobile-block {
    margin-bottom: 0.5rem;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    width: 100%;
    border: solid 1px rgb(240, 240, 240);
    border-radius: 4px;

    .credit-wrap {
      margin-top: 0.5rem;
    }
  }
}
